<?xml version="1.0"?>
<launch>
	<arg name="kinematics" default="$(optenv ROBOT_KINEMATICS skid)"/>
	  <include file="$(find campero_navigation)/launch/move.launch">
		  <arg if="$(eval kinematics == 'steel_omni')" name="differential" value="false"/>
	  </include>
	<include file="$(find campero_navigation)/launch/move_base.launch">
		  <arg if="$(eval kinematics == 'steel_omni')" name="omni" value="true"/>
	  </include>
</launch>
